/* Coolors Exported Palette - https://coolors.co/f9e3c8-e6be78-b82127-c8def9-237be7 */

/* CSS HEX */
--champagne: #f9e3c8ff;
--ecru: #e6be78ff;
--fire-brick: #b82127ff;
--columbia-blue: #c8def9ff;
--azure: #237be7ff;

/* CSS HSL */
--champagne: hsla(33, 80%, 88%, 1);
--ecru: hsla(38, 69%, 69%, 1);
--fire-brick: hsla(358, 70%, 43%, 1);
--columbia-blue: hsla(213, 80%, 88%, 1);
--azure: hsla(213, 80%, 52%, 1);

/* SCSS HEX */
$champagne: #f9e3c8ff;
$ecru: #e6be78ff;
$fire-brick: #b82127ff;
$columbia-blue: #c8def9ff;
$azure: #237be7ff;

/* SCSS HSL */
$champagne: hsla(33, 80%, 88%, 1);
$ecru: hsla(38, 69%, 69%, 1);
$fire-brick: hsla(358, 70%, 43%, 1);
$columbia-blue: hsla(213, 80%, 88%, 1);
$azure: hsla(213, 80%, 52%, 1);

/* SCSS RGB */
$champagne: rgba(249, 227, 200, 1);
$ecru: rgba(230, 190, 120, 1);
$fire-brick: rgba(184, 33, 39, 1);
$columbia-blue: rgba(200, 222, 249, 1);
$azure: rgba(35, 123, 231, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f9e3c8ff, #e6be78ff, #b82127ff, #c8def9ff, #237be7ff);
$gradient-right: linear-gradient(90deg, #f9e3c8ff, #e6be78ff, #b82127ff, #c8def9ff, #237be7ff);
$gradient-bottom: linear-gradient(180deg, #f9e3c8ff, #e6be78ff, #b82127ff, #c8def9ff, #237be7ff);
$gradient-left: linear-gradient(270deg, #f9e3c8ff, #e6be78ff, #b82127ff, #c8def9ff, #237be7ff);
$gradient-top-right: linear-gradient(45deg, #f9e3c8ff, #e6be78ff, #b82127ff, #c8def9ff, #237be7ff);
$gradient-bottom-right: linear-gradient(135deg, #f9e3c8ff, #e6be78ff, #b82127ff, #c8def9ff, #237be7ff);
$gradient-top-left: linear-gradient(225deg, #f9e3c8ff, #e6be78ff, #b82127ff, #c8def9ff, #237be7ff);
$gradient-bottom-left: linear-gradient(315deg, #f9e3c8ff, #e6be78ff, #b82127ff, #c8def9ff, #237be7ff);
$gradient-radial: radial-gradient(#f9e3c8ff, #e6be78ff, #b82127ff, #c8def9ff, #237be7ff);